@model tienda_express.Models.usuario

@{
   // Layout = null;

    if (Session["r"] == null)
    {
        Response.Redirect("Index/sistema");
    }
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index_usuario</title>

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">





</head>
<body>
    <center><h3>Bienvenido @Session["n"].ToString() @Session["a"].ToString()</h3></center>

    <table border="1" align="center" class="border border-dark">
    <tr>
    <td><label><a href="@Url.Action("vcat","usuario")">Ver catalogo</a></label></td>
    <td><label><a href="@Url.Action("vventas","usuario")">Ver ventas realizadas</a></label></td>
    <td><label><a href="@Url.Action("mdatos","usuario")">Modificar datos de usuario</a></label></td>
    <td><label><a href="@Url.Action("edatos","usuario")">Eliminar cuenta</a></label></td>
    <td><label><a href="@Url.Action("csession","usuario")">Cerrar sesion </a></label></td>
    </tr>
    </table>
</body>
</html>
