@model IEnumerable<tienda_express.Models.lista_venta>

@{
   // Layout = null;

    if (Session["r"] == null)
    {
        Response.Redirect("Index/sistema");
    }
   
   
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver la lista de las ventas</title>

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.2.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">




</head>
<body>
    <center>
        <p>
           @Html.ActionLink("Volver al inicio", "Index_usuario")|
           @Html.ActionLink("Cerrar sesion", "csession")|
    
        </p>
    </center>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID de la venta</th>
                <th scope="col">ID del producto</th>
                <th scope="col">Foto del producto</th>
                <th scope="col">Nombre del producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.venta_id)
                </td> 

                <td>
                    @Html.DisplayFor(modelItem => item.producto_id)
                </td>
                <td>
                    <img src="@Url.Action("getid", "usuario", new {id = item.id })" width="120" height="120">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.producto.nombre)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.producto.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
            </tr>
        }

    </table>
</body>
</html>
